* {
	font-size: 1.1em;
}

h1 {
	font-size: 2em;
}

#crews {
	list-style-type: none;
	padding: unset;
}

li.crew {
	padding: 20px;
	border-bottom: 1px solid black;
}

li.crew:first-child {
	border-top: 1px solid black;
}

.crew-name,
.pirate {
	color: grey;
}