<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP MVC Template</title>
</head>
<body>
    This is the <strong>index</strong> page!
    Do something <span class="cool">cool</span> here.
    <link rel="stylesheet" href="style.css">
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Piece Wiki</title>
</head>

<body>
    <h1>One Piece Fandom Wiki</h1>
    <ul id="crews">

    </ul>

    <link rel="stylesheet" href="style.css">
    <script src="jquery-3.6.0.min"></script>
    <script src="script.js"></script>
</body>

</html>